# Terraform
infra/.terraform/
infra/*.tfstate*
infra/.terraform.lock.hcl
infra/*.tfvars

# Python
__pycache__/
*.pyc
.env
.env.local

# Node
node_modules/

# Expo
.expo/
frontend/web/.next/

# IDE
.vscode/
.idea/
